{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-7">
        <p class="lead">{{ user.first_name }}, please set up a new password: </p>
        <form method="post"
              role="form">
            {% csrf_token %}
            {% for error in form.non_field_errors %}
                <div class="form-group has-errors text-danger small">
                    {{error}}
                </div>
            {% endfor %}
            {#----- pass1 input -----#}
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    {% if form.is_bound %}
                        {% if form.password1.errors %}
                            {% render_field form.password1 class="form-control is-invalid" %}
                            {% for error in form.password1.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% render_field form.password1 class="form-control is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field form.password1 class="form-control" %}
                    {% endif %}
                </div>
            </div>
            {#----- pass2 input -----#}
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    {% if form.is_bound %}
                        {% if form.password2.errors %}
                            {% render_field form.password2 class="form-control is-invalid" %}
                            {% for error in form.password2.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% render_field form.password2 class="form-control is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field form.password2 class="form-control" %}
                    {% endif %}
                </div>
            </div>
            <div class="form-group row">
                <!-- Button -->
                <div class="col-sm-12 controls">
                    <button type="submit" class="btn btn-success">Continue  </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}